{% extends layout %}
{% block content %}
  <div class="mt-5">
    <h1 class="text-center bigfont fs-3 mb-5">Sorry, something went wrong</h1>
    <h2 class="text-center bigfont fs-4">{{ errortext }}</h2>
  </div>

{% endblock %}