{% extends layout %}
{% block content %} 
  <div class="container">
    <div class="cards d-flex flex-wrap justify-content-center">
      {% for video in videos %}
        <div class="card" style="width: 42rem;">
          <div class="card-body">
            <h5 class="card-title">{{video.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{video.updated_at}}</h6>
            <div class="card-text ratio ratio-16x9">
              <video controls>
                <source src="videos/{{video.path}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <p class="card-text">{{video.description}}</p>
            <div class="d-flex">
              <form action="/meeps/{{item.id}}" method="GET">
                <input type="submit" value="Edit" class="btn btn-primary mr-auto">
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}