{% extends layout %}
{% block content %}
  <div class="container">
    <div class="cards d-flex flex-wrap justify-content-center">
      <div class="card" style="width: 42rem;">
        <div class="card-body">
          <h5 class="card-title mb-3">Video upload</h5>
          <form ref='uploadForm' 
            id='uploadForm' 
            action='/upload' 
            method='post' 
            encType="multipart/form-data">
            <div class="mb-4">
              <input type="text" class="form-control mb-2" 
                id="title" name="title" 
                placeholder="Add a title..." autocomplete="off">
              <textarea rows="5" class="form-control" 
                id="description" name="description" 
                placeholder="Add a description..." 
                autocomplete="off"></textarea>
            </div>
            <div class="mb-4">
              <h6 class="card-subtitle mb-3">Upload the video file</h6>
              <input type="file" name="videoFile"/>
            </div>
            <input type='submit' value='Upload' 
              class="btn btn-primary mr-auto mb-2"/>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}