@import "_variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

.bigfont {
    font-family: 'Tauri', sans-serif;
    font-size: 20px;
}

.card {
    width: 10rem;
}